html {
  box-sizing: border-box;
  background-color: green;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div {
  width: 300px;
  height: 100px;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 1px 1px 2px #444;
}
div header {
  margin: 0 0 10px 0;
}

/* single colon for IE 8 */
div:after {
  content: "psuedo 150px";
  display: block;
  width: 150px;
  background: #eee;
  padding: 10px;
  border-radius: 4px;
}

.module {
  box-sizing: content-box;
}

/* single colon for IE 8 */
.module:after {
  content: "pseudo 150px";
  display: block;
  width: 150px;
  padding: 10px;
}
