/*  adapted from smacss.com,
    good CSS selector summary: http://www.w3schools.com/cssref/css_selectors.asp
    Coding guidelines: https://github.com/necolas/idiomatic-css
*/

/*  base rules - resets, background etc. */

/* layout rules - l- prefixed, major (often ID selector) and minor (classes,
   sometimes frameworks like 960.gs) */

/* module rules - typically widgets, use class names only, sit inside layouts */

/* state rules - is- prefixed, augments and overrides all other styles,
   used on layouts and modules */

/* theme rules - used to customize a project, can be any primary type */
