//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
//  Struture adapted from smacss.com
//  Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//

@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "../bower_components/uikit/scss/uikit-mixins.scss";
// your custom code goes here, e.g. mixins, variables
@import "../bower_components/uikit/scss/uikit.scss";
@import "../bower_components/uikit/scss/components/autocomplete.scss";

$susy: (
  columns: 2,
  container: 480px,
  gutters: 1/32,
  global-box-sizing: border-box,
  debug: (image: show)
);

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)

.container {
  @include container();
}

.header {
  margin-top: 5vh;
}

.h2 {
  width: span(2 of 2);
  background: rgba(113, 218, 210, 0.8);
}

.content {
  padding-bottom: 1rem;
  @include span(2 of 2);
  background: rgba(113, 218, 210, 0.8);
}

.button {
  @include span(1 of 2);
   &:nth-child(2n) {
    @include last;
  }
}



// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//

// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules

// Theme rules
// ===========
//
// used to customize a project, can be any primary type
