@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 4,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: show)
  );

@include border-box-sizing;

.wrap {
  @include container();
  height: 60vh;
  font-size: 6vw;
}
