//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
// Notes:
//
//  * Struture adapted from smacss.com
//  * Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//

// reset to box-sizing to border-box (instead of content-box)
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Susy
@import "../bower_components/susy/sass/susy";

$susy: (
  columns: 10,
  container: 480px,
  gutters: 1/32,
  global-box-sizing: border-box,
  debug: (image: show)
);

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)
$header-size: 4rem;

.l-top {
  height: $header-size;
  background: black;

  .l-content-header {
    padding-top: 2rem;

    background: black;
    color: white;
    @include container();
  }
}

.l-middle {
  margin-top: -$header-size;
  margin-bottom: -$header-size;
  height: 100vh;

  .l-content {
    padding-top: $header-size;
    @include container();
  }
}

.l-bottom {
  height: $header-size;
  background: grey;

  .l-menu {
    @include container();
  }

}


// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//

* {
  font-size: 1rem;
  line-height: 1rem;
}

// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules


// Theme rules
// ===========
//
// used to customize a project, can be any primary type
