@import "susy"

/* Changing Susy default global settings */
/* Tells Susy to use 12 columns */
/* Tells Susy that the container has a max-width of 1120px */
/* Tells Susy to use border-box */

$susy: (columns: 12, container: 1120px, global-box-sizing: border-box);

/* Makes border-box properties */
@include border-box-sizing;

.wrap {
  @include container;
}

/* Tells Susy there's 8 columns in the content */
.content {
  @include span(8);
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  @include span(4 last);
}
