@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 16,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: show)
);

@include border-box-sizing;

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.wrap {
  @include container();
}

h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-header,
.site-footer {
  background: rgba(234, 159, 195, 0.8);
}

.site-header {
  a {
    color: #555;
    text-decoration: none;
  }
}

.content {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: rgba(113, 218, 210, 0.8);
  @include span(12 of 16)
}

.sidebar {
  margin-top: 5vh;
  background: rgba(250, 231, 179, 0.8);
  padding-bottom: 1rem;
  @include span(4 of 16 last);
  a {
    color: #666;
    padding-left: 1rem;
    line-height: 2;
    text-decoration: none;
  }
}

.widget {
  background: rgba(240, 150, 113, 0.8);
  /* don't work with the header above @include gallery(4 of 16);  */
   @include span(4 of 16);
  &:nth-child(5n) {
    @include last;
  }
}

.site-footer {
  margin-top: 5vh;
}

.footer-h2 {
/*   @include span(16 of 16); */
  background: blue;
}

.logo {
  float: left;
  line-height: 2rem;
  font-size: 1.5rem;
}

nav {
  float: right;
  li {
    list-style: none;
    float: left;
    margin-left: 1em;
    line-height: 2rem;
  }
}

.gallery {
  @include cf;
  background: rgb(200,200,2);
  width: span(10 of 12);
  margin-left: span(1 wide of 12);
}

.gallery__item {
  background: rgb(100,100,200);
  @include span(2 of 10);
  margin-bottom: gutter(10);
  &:nth-child(5n) {@include last;
  }
}
