//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
// Notes:
//
//  * Struture adapted from smacss.com
//  * Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//

// reset to box-sizing to border-box (instead of content-box)
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Susy
@import "../bower_components/susy/sass/susy";

$susy: (
  columns: 10,
  container: 480px,
  gutters: 1/32,
  global-box-sizing: border-box,
  debug: (image: show)
);

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

$theme-color1: rgb(92,87,93);
$theme-color2: rgb(191,71,19);
$theme-color3: rgb(62,84,97);
$theme-color4: rgb(118,175,182);
$theme-color5: rgb(158,138,150);

$header-font-size: 1rem;
$header-font-color: #f0f0f0;

$menu-font-size: 0.7rem;
$menu-font-color: rgb(123,123,129);
$menu-bg-color: #F7F7F7;

$header-color: $theme-color1;

$text-font-size: 0.9rem;
$small-text-font-size: 0.65rem;

// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)

.l-top {
  height: 5*$menu-font-size;
  background: $header-color;

  .l-content-header {
    padding-top: 2*$menu-font-size;
    height: 3*$menu-font-size;

    background: $header-color;
    @include container();

    .left {
      float: left;
      margin-left: $menu-font-size;
    }

    .right {
      float: right;
      margin-right: $menu-font-size;
    }

    .left, .right {
      font-family: theme-font;
      font-size: 1.5*$menu-font-size;
      line-height: 3*$menu-font-size;

      color: $header-font-color;
    }
  }
}

.l-middle {
  margin-top: -5*$menu-font-size;
  margin-bottom: -5*$menu-font-size;
  height: 100vh;

  .l-content {
    padding-top: 5*$menu-font-size;
    @include container();
  }
}

.l-bottom {
  height: 5*$menu-font-size;
  background: $menu-bg-color;

  .l-menu {
    @include container();
  }

}

.l-log {
  height: $text-font-size*20;
  overflow-y: auto;
  margin-top: gutter();
  @include span(10 of 10);
}

.l-row {
  margin-top: gutter();
  @include span(10 of 10);
}

// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding-right: 0;
}

textarea {
  font-size: $small-text-font-size;
  line-height: $small-text-font-size;
  @include span(10 of 10);
  margin-top: gutter(10);
  margin-bottom: gutter(10);
}

.menu-button {
  font-family: theme-font-bold;
  height: 5*$menu-font-size;
  font-size: $menu-font-size;
  line-height: 2*$menu-font-size;
  text-align: center;

  color: $menu-font-color;
  background: $menu-bg-color;

  @include span(2 of 10);
  &:nth-child(5n) {
    @include last;
  }

  :hover {
    color: $menu-font-color;
  }

  div {
    margin-top: 0.8*$menu-font-size;
    @include span(2 of 2);
  }
}

.button {
  @include span(3 of 10);
  margin-top: gutter(10);
  margin-bottom: gutter(10);
}

body {
  font-family: theme-font;
  line-height: 1.4*$text-font-size;
  font-size: $text-font-size;
}

.disclaimer-text {
  font-family: theme-font;
  line-height: 2*$text-font-size*0.5;
  font-size: $text-font-size*0.8;
}

// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules

// Theme rules
// ===========
//
// used to customize a project, can be any primary type
