@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 4,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: show)
  );

@include border-box-sizing;

.wrap {
  @include container();
  height: 100vh;
}

.content {
  margin-top: 10vh;
  height: 80vh;
  background: rgba(113, 218, 210, 0.8);
  @include span(3 of 4 );
}

.sidebar {
  margin-top: 10vh;
  height: 40vh;
  background: rgba(250, 231, 179, 0.8);
  @include span(1 of 4 last);
}

h2 {
  padding: 1rem 0;
  text-align: center;
  color: #555;
}
