//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
// Notes:
//
//  * Struture adapted from smacss.com
//  * Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//


// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)


.l-top {
  float: top;
  height: 5rem;
  background: rgba(113, 218, 210, 0.5);
}

.l-middle {
  float: top;
  margin-top: -5rem;
  margin-bottom: -5rem;
  height: 100vh;
  background: rgba(234, 159, 195, 0.5);

  div {
    float: top;
    padding-top: 5rem;
  }
}

.l-bottom {
  float: top;
  height: 5rem;
  background: rgba(250, 231, 179, 0.5);
}


// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//


// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules

// Theme rules
// ===========
//
// used to customize a project, can be any primary type
