@import "susyone";

//if you want to use the buttons plugin
//@import "sassy-buttons";

//this is the default number of columns
$total-columns: 5;

//width of each column
$column-width   : 4em;

//space between columns
$gutter-width   : 1em;

//space on the right and left of the grid
$grid-padding   : $gutter-width;

//alternative layout breakpoints
$tablet: 8;
$computer: 55em 12;



// OLD - Requirements
// ============

//@import "susy";

//$susy: (
//  columns: 12,
//  gutters: 1/4,
//);
